.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #ffffff;
  padding: 30px;
  min-width: 450px;
  max-width: 43%;
  border-radius: 20px;
  box-shadow: 0 0 7px 0 #888888;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

::placeholder {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form h1 {
  font-size: 3em;
}

.form img {
  width: 1.5em;
  height: fit-content;
}

.form button {
  align-self: flex-end;
}

.flex-column>label {
  color: #151717;
  font-weight: 600;
}

.inputForm {
  border: 1.5px solid #ecedec;
  border-radius: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  transition: 0.2s ease-in-out;
}

.input {
  margin-left: 10px;
  border-radius: 10px;
  border: none;
  width: 85%;
  height: 100%;
  background-color: transparent !important;
}

.input:focus {
  outline: none;
}

.inputForm:focus-within {
  border: 1.5px solid #2d79f3;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.flex-row>div>label {
  font-size: 14px;
  color: black;
  font-weight: 400;
}

.span {
  font-size: 14px;
  margin-left: 5px;
  color: #2d79f3;
  font-weight: 500;
  cursor: pointer;
}

.button-submit {
  margin: 20px 0 10px 0;
  background-color: #151717;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  height: 50px;
  width: 100%;
  cursor: pointer;
}

.button-submit:hover {
  background-color: #252727;
}

.p {
  text-align: center;
  color: black;
  font-size: 14px;
  margin: 5px 0;
}

.btn {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  gap: 10px;
  border: 1px solid #ededef;
  background-color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.btn:hover {
  border: 1px solid #2d79f3;
  ;
}

/* ============================================ */
/* biodata pasien for medicalrecord page*/

.rekam_medis {
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  min-height: 0;
}

.medrecord-biodata h2 {
  color: #42b983;
  font-size: 2em;
  text-align: left;
  margin-block: 0;
}

.medrecord-biodata h3 {
  color: #42b983;
  text-align: left;
}

.medrecord-biodata p {
  text-align: left;
}

.medrecord-biodata .riwayat-kunjungan {
  margin-top: 3em;
}

.medrecord-biodata table {
  width: 100%;
}

.ganjil td {
  background-color: #f1f1f1;
}

.medrecord-biodata td,
.medrecord-biodata th {
  padding: 0.5em 1em;
}

/* =============================== */

.list-dokter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.list-dokter .content {
  justify-content: flex-start;
}

.dokter-card {
  margin: 1em;
}

.profile-list-dokter {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.profile-list-dokter h1 {
  color: #42b983;
}

.profile-list-dokter h2 {
  color: #42b983;
  margin-block-end: 0;
  text-align: start;
}

.profile-list-dokter h3 {
  margin-block: 0;
  text-align: start;
}

.profile-list-dokter p {
  text-align: start;
}

.profile-list-dokter img {
  height: 5em;
  width: auto;
  object-fit: contain;
  margin-right: 1em;
}