.section_profile {
  justify-content: flex-start;
}

.card_profile {
  width: 100%;
}

.profile_card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 7em 0 2em 0;
  margin-top: -7em;
  background-color: aliceblue;
}

.profile_card img {
  width: auto;
  height: 150px;
  padding: 0 3em;
}

.profile_card .profile_data h1 {
  text-align: left;
  font-size: 2em;
  margin-block: 0;
}

.profile_card .profile_data h3 {
  font-size: 1.5em;
  text-align: left;
  margin-block: 0.5em;
}

.profile_card p {
  text-align: left;
  font-size: 1.5em;
  margin-block: 0;
}